# Dependencies
node_modules/

# Environment
.env
.env.test

# Local build outputs
build
/build
/build/.idea
*/build/.well-known/*


# Common ignores
.DS_Store
/.idea
.vscode
coverage
git
__mocks__
logs
*.log

# Optional caches
.npm
.eslintcache
.cache/

